src/extract-content/war/WEB-INF/classes
src/extract-content/war/WEB-INF/lib/appengine-*
src/extract-content/war/WEB-INF/lib/asm-*
src/extract-content/war/WEB-INF/lib/datanucleus*
src/extract-content/war/WEB-INF/lib/geronimo-jpa_*
src/extract-content/war/WEB-INF/lib/jdo-api-*
src/extract-content/war/WEB-INF/lib/jsr107cache-*
src/extract-content/war/WEB-INF/lib/jta-*
